<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trackinlogic.trans.pss.com.trackinlogic">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">

    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".TrackInLogic"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".features.registration.login.LoginActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.welcome.WelcomeActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.registration.signup.RegistrationActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.registration.carrier.carriersetup.TimeAndCircleActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.registration.carrier.search.CarrierRegistrationActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.registration.carrier.manual.ManualCarrierDetailsActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.registration.carrier.dotsearchresult.DotSearchActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".NavigationMenu"
            android:label="@string/title_activity_navigation_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.logmanagement.LogSheetManagement"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.logsheet.LogSheetActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".features.logbook.LogBookActivity"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".features.loginspection.LogSheetInspection"
            android:theme="@style/MyMaterialTheme"></activity>
    </application>

</manifest>